@import "./style.css";
@import "./output.css";
@import "./mmenu.css";

@import "./slick.css";
@import "./slick-theme.css";

@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    /*Толщина скролла*/
    width: 6px;
    height: 6px;
    position: relative;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    /*Цвет скролла*/
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    /*Закругление ползунка*/
    background-color: #ccc;
    /*Цвет ползунка*/
}

* {
    scrollbar-color: #ccc transparent;
    scrollbar-width: thin;
}